<header>
    <h1>Llistat de quadres</h1>
    <label>Mida imatge:</label><input>
    <h2>Pàgina {{paginacio.current_page}} de {{paginacio.total_pages}}</h2>
</header>
<section id="body">
<div class="table">
    <ul>        
        <li class="tr_header">
            <p name="titol">Titol</p> 
            <p name="id">Id</p> 
            <p name="img">Imatge</p> 
            <p name="visualitzar">Visualitzar</p>
        </li>
        <li class="table_li" *ngFor="let q of this.quadres|keyvalue">
            {{q.value.title}}---{{q.value.id}}---<img src="{{q.value.thumbnail.lqip}}" alt="imatge">---Veure
        </li><br>
        <label>Documents per plana:<input type="number"></label><label>Plana:<input type="number"></label><button>Accedir</button><button class="fletxa">&#8594;</button>
    </ul>
</div>
</section>
<section id="body">
    <div class="table">
        <ul>        
            <li class="tr_header">
                <p name="titol">Titol</p> 
                <p name="img">Imatge</p>
                <p name="nom">Artista</p>  
            </li>
            <li class="table_li" *ngFor="let t of this.artistes|keyvalue">
                {{t.value.key}}---{{t.value.id}}---<img src="{{t.value.thumbnail.lqip}}" alt="imatge">
            </li><br>
            <label>Documents per plana:<input type="number"></label><label>Plana:<input type="number"></label><button>Accedir</button><button class="fletxa">&#8594;</button>
        </ul>
    </div>
</section>
    