.table
{
  width: 100vw;
  padding: 0 2em 2em 2em;
  display: flex;
  overflow: scroll;
}
.table li{display: flex;}
.tr_header{background: var(--color-grey); border-top-left-radius: 5px;border-top-right-radius: 5px;}
.tr_header p{text-align: center; font-size: .9em;border-left: 1px solid #f9f9f9;}
.tr_header:last-child{border-right: 1px solid #f9f9f9;}
.tr_header p:nth-child(1){border-left: none;}

.table_li{border-bottom: 1px solid var(--color-grey); background: #FFF;}
.table_li p
{
  padding-left: 5px;
  font-size: .85em;
  border-left: 1px solid var(--color-grey);
  line-height: 24px;
  height: 24px;
  overflow: hidden;
}
.table_li p:last-child{border-right: 1px solid var(--color-grey);}

.table_li.active{background: var(--color-green-light);}
.table_li.hide{display: none !important;}
#body
{
    padding-top: 14vh;
    background-color: var(--color-body);
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 10vh;

    display: flex;
    align-items: center;
    flex-direction: column;
}
ul{padding-bottom: 7vh;}

.table
{
  width: 100vw;
  padding: 0 2em 2em 2em;
  display: flex;
  overflow: scroll;
}